@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%;
}

.loadingContainer {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ff8080;
}
.loadingBar {
    z-index: 100;
    height: 100%;
    background-color: #ff0000;
    transition: width 0.5s ease-in-out;
}
